<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>MVC With Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	     <div class="container">
        <!-- Page Content goes here -->
		{{!-- <img src="https://media2.giphy.com/media/JteZf56ZXsJl6/200.gif" alt="Italian Trulli"> --}}
		
		{{!-- /Users/simmigonflagg/GeorgiaTech/burger/views/partials/burgers/burger-block.handlebars --}}
		{{{ body }}}
      </div>
	
</body>

</html>