<h1>burgers!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
       {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>  

<h2>Add a burgers</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bur">burgers Name:</label>
    <input type="text" id="bur" name="name">
  </div>

  <div class="form-group">
    <label for="devour">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> ate
  </div>
{{!-- <a class="waves-effect waves-light btn">Add devoured</a> --}}
    <button class="btn waves-effect waves-light" type="submit" name="action">Enter
    <i class="material-icons right">send</i>
  </button>
</form>
